<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        FreeCodeCamp API Basejump: URL Shortener Microservice
      </h1>
    </header>

    <main>
      <h2 class="bold">Example creation usage:</h2>
      <p>
        https://url-shortener-microservice-ega13.glitch.me//www.google.com
      </p>
      <p>
        https://url-shortener-microservice-ega13.glitch.me//foo.com:80
      </p>
      <h2 class="bold">Example creation output:</h2>
      <p>
        {"original_url":"http://foo.com:80", "short_url":"https://url-shortener-microservice-ega13.glitch.me/8170" }
      </p>
      <h2 class="bold">Usage:</h2>
      <p>
        https://url-shortener-microservice-ega13.glitch.me/2871
      </p>
      <h2 class="bold">Will redirect to:</h2>
      <p>
        https://www.google.com/
      </p>
    </main>

    <script src="/client.js"></script>

  </body>
</html>
